<app-modal [title]="title" #modal>
  <div modal-body class="user-modal">
    <form [formGroup]="form" class="user-modal__form">
      <app-input
        id="name"
        label="Nome"
        type="text"
        placeholder="Digite seu nome"
        formControlName="name"
        [required]="true"
        [Icon]="'fa-solid fa-user'"
        [error]="!!(form.get('name')?.errors && form.get('name')?.touched)"
      />

      <app-input
        id="cpf"
        label="CPF"
        type="text"
        placeholder="000.000.000-00"
        formControlName="cpf"
        [required]="true"
        [error]="!!(form.get('cpf')?.errors && form.get('cpf')?.touched)"
        mask="000.000.000-00"
        [showMaskTyped]="true"
        [Icon]="'fa-solid fa-id-card'"
        [dropSpecialCharacters]="false"
      />

      <app-input
        id="email"
        label="E-mail"
        type="email"
        placeholder="Digite seu e-mail"
        formControlName="email"
        [required]="true"
        [error]="!!(form.get('email')?.errors && form.get('email')?.touched)"
        [Icon]="'fa-solid fa-envelope'"
      />

      <app-input
        id="phone"
        label="Telefone"
        type="tel"
        placeholder="(00) 00000-0000"
        formControlName="phone"
        [required]="true"
        mask="(00) 00000-0000"
        [showMaskTyped]="true"
        [dropSpecialCharacters]="false"
        [Icon]="'fa-solid fa-phone'"
      />

      <div class="sol-input-group">
        <app-select
          id="role"
          label="Perfil"
          placeholder="Selecione um perfil"
          [options]="roleOptions()"
          formControlName="roleId"
          [required]="true"
          [error]="!!(form.get('roleId')?.errors && form.get('roleId')?.touched)"
          [icon]="'fa-solid fa-user-shield'"
        />
      </div>

      <div class="user-modal__form__group">
        <app-input
          id="password"
          label="Senha"
          type="password"
          placeholder="Digite sua senha"
          formControlName="password"
          [required]="true"
          [error]="!!(form.get('password')?.errors && form.get('password')?.touched)"
        />
        <app-input
          id="confirm-password"
          label="Confirmar Senha"
          type="password"
          placeholder="Confirme sua senha"
          formControlName="confirmPassword"
          [required]="true"
          [error]="!!(form.get('confirmPassword')?.errors && form.get('confirmPassword')?.touched)"
        />
      </div>

      @if (form.errors?.['passwordMismatch'] && form.touched) {
      <div class="sol-input-group__error">
        <p class="sol-error-message">As senhas não coincidem</p>
      </div>
      }
    </form>
  </div>
  <div modal-footer class="modal-footer">
    <button class="sol-button" (click)="onCancel()">Cancelar</button>
    <button class="sol-button accent" (click)="onSubmit()" [disabled]="form.invalid || form.pristine">Salvar</button>
  </div>
</app-modal>
