<div class="roles">
  <div class="roles__header">
    <h1 class="page-title">Cargos</h1>

    <div class="roles__new-role-container">
      <button class="sol-button accent">
        <span class="sol-button__icon">
          <i class="sol-icon sol-icon--plus"></i>
        </span>
        <span class="sol-button__text">Novo cargo</span>
      </button>
    </div>
  </div>

  <div class="page-content">
    <div class="roles__content">
      <!-- Conteúdo da tabela será adicionado aqui -->
      <p>Lista de cargos será exibida aqui</p>
    </div>
  </div>
</div>
