:root {
  --color-primary: #2563eb;
  --color-primary-dark: #1e40af;
  --color-primary-light: #93c5fd;

  --color-secondary: #9333ea;
  --color-secondary-dark: #7e22ce;
  --color-secondary-light: #d8b4fe;

  --color-success: #22c55e;
  --color-success-dark: #166534;
  --color-success-light: #dcfce7;

  --color-error: #ef4444;
  --color-error-dark: #b91c1c;
  --color-error-light: #fca5a5;

  --color-warning: #facc15;
  --color-warning-dark: #b45309;
  --color-warning-light: #fef9c3;

  --color-info: #0ea5e9;
  --color-info-dark: #075985;
  --color-info-light: #bae6fd;

  --color-surface: #f9fafb;
  --color-surface-alt: #f3f4f6;

  --border-color: #e5e7eb;
  --background-default: #ffffff;
  --background-muted: #f3f4f6;

  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-text-tertiary: #6b7280;
  --color-text-disabled: #9ca3af;

  --color-text-white: #ffffff;
}
