:root {
  --size-1: 16px;
  --size-2: 24px;
  --size-3: 32px;
  --size-4: 40px;
  --size-5: 48px;
  --size-6: 56px;
  --size-7: 64px;
  --size-8: 72px;
  --size-9: 80px;
  --size-10: 88px;
  --size-11: 96px;
  --size-12: 104px;
  --size-13: 112px;
  --size-14: 120px;
  --size-15: 128px;
  --size-16: 136px;
}
