<div class="permission-list">
  <div class="permission-list__header">
    <h1 class="page-title">Permissões</h1>

    <div class="permission-list__new-permission-container">
      <button class="sol-button accent">
        <span class="sol-button__icon">
          <i class="sol-icon sol-icon--plus"></i>
        </span>
        <span class="sol-button__text">Nova permissão</span>
      </button>
    </div>
  </div>

  <div class="page-content">
    <div class="permission-list__content">
      <!-- Conteúdo da tabela será adicionado aqui -->
      <p>Lista de permissões será exibida aqui</p>
    </div>
  </div>
</div>
