<app-auth-layout>
  <div class="forgot-password">
    <div class="forgot-password__header">
      <h1 class="sol-title">Esqueceu sua senha?</h1>
      <p class="sol-subtitle">Digite seu email para receber um link de reset de senha</p>
    </div>

    <form [formGroup]="form" class="forgot-password__form" (ngSubmit)="onSubmit()">
      <app-input
        type="email"
        id="email"
        placeholder="Digite seu email"
        [error]="!!(form.get('email')?.errors && form.get('email')?.touched)"
        [errorMessage]="getErrorMessage('email')"
        formControlName="email"
      />

      <button type="submit" class="sol-button primary" [disabled]="form.invalid || loading.isLoading('forgot-password')">
        @if (loading.isLoading('forgot-password')) {
          <app-loading [size]="4" [inline]="true" />
        }
        Enviar email de reset
      </button>
    </form>

    <div class="forgot-password__footer">
      <p>Lembrou sua senha? <a [routerLink]="['/sign-in']" class="sol-link">Faça login</a></p>
    </div>
  </div>
</app-auth-layout>
